<div class="row justify-content-md-center" ng-if="vm.post">
    <div class="card col-md-8">
        <div class="card-header" ng-if="(vm.post.user)">
            <img ng-src="{{vm.post.user.photo}}" class="profile-img">
            <span>{{vm.post.user.last_name + ' ' + vm.post.user.first_name}}</span>
        </div>
        <div class="card-header" ng-if="(vm.post.group)">
            <img ng-src="{{vm.post.group.photo}}" class="profile-img">
            <span>{{vm.post.group.name}}</span>
        </div>
        <div class="card-block" ng-if="vm.post.text">
            <p class="card-text" ng-bind-html="vm.post.text | replaceIDs"></p>
        </div>
        <div class="card-block" ng-if="vm.post.attachments">

            <ul rn-carousel rn-carousel-controls rn-carousel-buffered>
                <li ng-repeat="(key, attachment) in vm.post.attachments | filterPostType:'photo'">
                    <div ng-click="vm.showPhoto('{{attachment.photo.src_big}}')" ng-style="{'background-image': 'url(' + attachment.photo.src_big + ')'}"  class="bgimage">
                    </div>
                </li>
            </ul>

            <a ng-href="{{attachment.link.url}}" target="_blank" ng-repeat="(key, attachment) in vm.post.attachments | filterPostType:'link'">
                {{attachment.link.title}}
            </a>

        </div>
        <div class="card-footer text-muted">
            <small class="text-muted">{{vm.post.date | date:'short'}}</small>
            <small class="text-muted float-md-right">
                <i class="fa fa-comment" aria-hidden="true"></i> {{vm.post.comments.count}} &nbsp;&nbsp;&nbsp;
                <i class="fa fa-heart" aria-hidden="true"></i> {{vm.post.likes.count}}
            </small>
        </div>
    </div>
</div>



<div class="row justify-content-md-center"  ng-if="!vm.post">
    <div class="alert alert-warning col-md-6" role="alert">
        <strong>Oops!</strong> We don't found anything
    </div>
</div>