<div class="row justify-content-md-center" ng-repeat="(key, post) in vm.posts" ng-if="post.date">
    <div class="card col-md-8">
        <a href="#!/id/{{key}}" class="card-header" ng-if="(post.user)">
            <img ng-src="{{post.user.photo}}" class="profile-img">
            <span>{{post.user.last_name + ' ' + post.user.first_name}}</span>
        </a>
        <a href="#!/id/{{key}}" class="card-header" ng-if="(post.group)">
            <img ng-src="{{post.group.photo}}" class="profile-img">
            <span>{{post.group.name}}</span>
        </a>
        <div class="card-block" ng-if="post.text">
            <p class="card-text" ng-bind-html="post.text | replaceIDs"></p>
        </div>
        <div class="card-block" ng-if="post.attachments">

            <ul rn-carousel rn-carousel-controls rn-carousel-buffered>
                <li ng-repeat="(key, attachment) in post.attachments | filterPostType:'photo'">
                    <div ng-click="vm.showPhoto('{{attachment.photo.src_big}}')" ng-style="{'background-image': 'url(' + attachment.photo.src_big + ')'}"  class="bgimage">
                    </div>
                </li>
            </ul>

            <a ng-href="{{attachment.link.url}}" target="_blank" ng-repeat="(key, attachment) in post.attachments | filterPostType:'link'">
                {{attachment.link.title}}
            </a>

        </div>
        <div class="card-footer text-muted">
            <small class="text-muted">{{post.date | date:'short'}}</small>
            <small class="text-muted float-md-right">
                <i class="fa fa-comment" aria-hidden="true"></i> {{post.comments.count}} &nbsp;&nbsp;&nbsp;
                <i class="fa fa-heart" aria-hidden="true"></i> {{post.likes.count}}
            </small>
        </div>
    </div>
</div>



<div class="row justify-content-md-center"  ng-if="(vm.posts.length === 1 && vm.posts[0] == 0)">
    <div class="alert alert-warning col-md-6" role="alert">
        <strong>Oops!</strong> We don't found anything
    </div>
</div>